.priceList {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 50px;
  span {
    font-size: 20px;
    padding: 10px;
    color: #5094c1;
    border: #5094c1 solid 2px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
}

.priceList span:hover {
  border: rgb(230, 230, 230) solid 2px;
  background-color: rgb(230, 230, 230);
}

.legacyNewListWrapper {
  img {
    width: 100%;
  }
}
